# Supabase Project URL
NEXT_PUBLIC_SUPABASE_URL=https://paxtnzdvvwxzmthjkvsx.supabase.co
# Supabase Anonymous Key (safe to be public)
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_aUq7HjKHXSbn5n8crKCimQ_byyIXAzH
# Supabase Service Role Key (secret, for server-side use only)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBheHRuemR2dnd4em10aGprdnN4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE3OTU2NSwiZXhwIjoyMDg4NzU1NTY1fQ.iHBWURJECB35gpA_tk8fwLhV0dsrikGDqNVpug8qovA
# The public URL of your application
NEXT_PUBLIC_APP_URL=http://localhost:3000